.search-bar {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background: #88C6CB;
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    width: 70%;
    justify-content: space-evenly;
    width: 100%
}

.input-bar {
    width: 100%;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

/* #searchbar {
    width: 80%;
    padding: 6px 20px;
    border-radius: 15px;
    border: 2px solid lightgray;
    height: 25px;
    font-size: 15px;
    color: #555;
} */

.hidden {
    display: none !important;
}

.location-icon {
    font-size: 25px !important;
    color: white;
    padding-top: 2px;
    cursor: pointer;
    pointer-events: auto;
}

.filters-bar {
    width: 80%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}